.button {
    border-radius: var(--border-radi-section-groups);
    border: var(--border-width) solid var(--active-primary);
    gap: var(--gaps-button-inner-gap);
    padding: var(--gaps-button-inner-gap) var(--gaps-button-inner-gap) var(--gaps-button-inner-gap) var(--gaps-paragraph-gap);
    color: var(--active-primary);

    &-icon {
        background-color: var(--active-primary);
        color: var(--active-neutral);
        border-radius: var(--border-radi-section-groups);
        padding: var(--paddings-padding-parent-small);
    }


}