.link{
    gap: var(--gaps-card-gap);
    color: var(--active-primary);
    @include l1;

    &-icon{
        padding: var(--paddings-padding-parent-box);
        background-color: var(--active-primary);
        color: var(--active-neutral);
        border-radius: var(--border-radi-section);
    }

    &.border-bottom{
        border-bottom: var(--border-width-bold) solid var(--active-primary);
        line-height: 160%;
    }
}