.nav {
    position: fixed;
    z-index: 10000;
    background: var(--active-neutral-blur);
    backdrop-filter: blur(28px);
    padding: 0 var(--paddings-page-padding);
    gap: var(--gaps-button-inner-gap);
    max-width: var(--responsiveness-container_width);
    width: 100%;
    top: 0;

    &bar {
        border-bottom: var(--border-width) solid var(--active-neutrals-black-blur);
        padding: var(--paddings-nav-block) 0;

        &-right {
            gap: var(--gaps-card-gap);

            & .menu {
                gap: var(--gaps-has-button-gap);

                &Link {
                    text-transform: capitalize;

                    & .link {
                        color: var(--active-neutrals-black);
                    }

                    &.active {
                        & .link {
                            color: var(--active-primary-blur);
                        }
                    }

                }

                &-social {
                    gap: var(--gaps-paragraph-gap);

                    & .link {
                        color: var(--active-neutrals-black);
                    }
                }
            }
        }
    }
}