.caseStudies {
    &-holder {
        padding-top: var(--paddings-padding-card);
        gap: var(--gaps-body-section-gap);

        @include devices(phone){
            gap: var(--gaps-title-gap);
        }

        .ProjectCaard {
            gap: var(--gaps-card-gap);

            @include devices(phone){
                flex-direction: column !important;
                gap: var(--gaps-card-gap);
            }

            &-image {
                width: 100%;
                border-radius: var(--border-radi-cards);
                overflow: hidden;
                height: 800px;

                @include devices(phone){
                    height: 263px;
                }

                & img {
                    width: 100%;
                    height: 100%;
                    object-position: center;
                    transition: 0.5s linear;
                }
            }

            &-info {
                gap: var(--gaps-card-gap);
                width: 100%;

                @include devices(phone){
                    flex-direction: column;
                    gap: var(--gaps-paragraph-gap);
                }

                &-data {
                    gap: var(--gaps-title-gap);
                    width: 56%;
                    color: var(--active-primary);

                    &-title {
                        width: 100%;
                        line-height: 140%;
                    }

                    @include devices(phone){
                        width: 100%;
                    }
                }

                &-tags {
                    gap: var(--gaps-siblings-gap);
                    width: 20%;
                    justify-content: flex-end;

                    @include devices(phone){
                        flex-wrap: wrap;
                        width: 100%;
                        justify-content: flex-start;
                    }

                    & .tag {
                        text-transform: capitalize;
                        color: var(--active-primary-blur);
                    }
                }
            }
        }

        .pages-divider{
            &:last-of-type{
                display: none;
            }
        }

        & a{
            border: none;
            padding: 0;
            overflow: hidden;
            border-radius: 0;
            color: var(--active-neutrals-black);

            &:before{
                display: none;
            }

            &:hover{
               color: var(--active-neutrals-black);

                & img{
                    transform: scale(1.05);
                }
            }
        }
    }
}