.scrolling-container {
    width: 100%;
    border: var(--border-width) solid var(--active-primary);
    overflow: hidden;
    white-space: nowrap;

    &.small {
        padding: var(--gaps-button-inner-gap) var(--paddings-padding-parent-box);
    }

    &.full {
        height: 80px;
        background-color: var(--active-primary);

        .scrolling {
            &-text {
                gap: var(--gaps-title-gap);

                &-item {
                    gap: var(--gaps-title-gap);
                    animation: animate_text 20s linear infinite;
                }

                & img {
                    height: 20px;
                    width: auto;
                }

                & .text-card-area-icon {
                    color: var(--active-neutral);
                }
            }
        }
    }

    .scrolling {
        &-text {
            gap: var(--gaps-paragraph-gap);
            white-space: nowrap;
            display: inline-flex;

            &-item {
                animation: animate_text 10s linear infinite;
            }
        }
    }
}


@keyframes animate_text {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(-100%, 0, 0);
    }

}
