.case-study {
    .header {
        &-content {
            &-hero {
                &-text-contain {
                    padding-inline: var(--paddings-page-padding);
                }

                &-image {
                    border-radius: var(--border-radi-cards);
                    overflow: hidden;
                }
            }
        }

        &.locked {

            & .locked-icon {
                color: var(--active-primary);
            }

            & .header-content {
                width: 56%;
            }
        }
    }

    &-intro-details-row {
        padding-inline: var(--paddings-page-padding);

        &-section {
            gap: var(--gaps-button-inner-gap);

            span {
                display: block;
            }
        }
    }

    &-section {
        gap: var(--gaps-body-section-gap);
        padding-inline: var(--paddings-page-padding);

        & .main-div {
            gap: var(--gaps-paragraph-gap);

            & .h4 {
                text-transform: capitalize;
            }

            &-section {
                &.parts {
                    padding-top: var(--gaps-title-gap);
                }

                & .punny {
                    padding-block: var(--gaps-title-gap);
                    border-bottom: var(--border-width) solid var(--active-neutrals-black-blur);
                    gap: var(--gaps-siblings-gap);
                    list-style: decimal-leading-zero;
                    padding-left: var(--paddings-padding-parent-box);
                    display: list-item;

                    &:first-child {
                        border-top: var(--border-width) solid var(--active-neutrals-black-blur);
                    }

                    &:last-child {
                        border-bottom-color: transparent;
                    }

                    & p{
                        &:last-child{
                            padding-top: var(--gaps-button-inner-gap);
                        }
                    }
                }
            }

            &-images {
                padding-top: var(--gaps-title-gap);
            }
        }
    }
}