.case-study {
    .header {
        &-content {
            &-hero {
                &-text-contain {
                    padding-inline: var(--paddings-page-padding);

                    @include devices(phone) {
                        padding-inline: var(--paddings-padding-none);
                    }
                }

                &-image {
                    border-radius: var(--border-radi-cards);
                    overflow: hidden;
                }
            }
        }

        &.locked {

            & .locked-icon {
                color: var(--active-primary);
            }

            & .header-content {
                width: 56%;

                @include devices(phone) {
                    width: 100%;
                }

                & p {
                    @include devices(phone) {
                        text-align: center;
                    }
                }
            }
        }
    }

    &-intro-details-row {
        padding-inline: var(--paddings-padding-card-block);

        @include devices(phone) {
            padding-inline: var(--paddings-padding-none);
        }

        &-section {
            gap: var(--gaps-button-inner-gap);

            span {
                display: block;
                text-transform: capitalize;
            }
        }
    }

    &-section {
        gap: var(--gaps-title-gap);
        padding-inline: var(--paddings-padding-card-block);

        @include devices(phone) {
            padding-inline: var(--paddings-padding-none);
        }

        & .main-div {
            gap: var(--gaps-paragraph-gap);

            & .h4 {
                text-transform: capitalize;
            }

            &-section {
                &.parts {
                    padding-top: var(--paddings-padding-parent-small);
                }

                & .punny {
                    padding-block: var(--paddings-nav-block);
                    border-bottom: var(--border-width) solid var(--active-neutrals-black-blur);
                    gap: var(--gaps-siblings-gap);
                    list-style: decimal-leading-zero;
                    padding-left: var(--paddings-padding-parent-box);
                    margin-left: var(--paddings-padding-card);
                    display: list-item;

                    &:first-child {
                        border-top: var(--border-width) solid var(--active-neutrals-black-blur);
                    }

                    &:last-child {
                        border-bottom-color: transparent;
                    }

                    & p {
                        &.h6 {
                            text-transform: capitalize;
                        }

                        &:last-child {
                            padding-top: var(--gaps-button-inner-gap);
                        }
                    }
                }

                & .close {
                    padding-top: var(--paddings-nav-block);
                }

                & a {
                    display: inline-block;
                    border-bottom: var(--border-width-bold) solid var(--active-primary);
                    line-height: 88% !important;
                }

                & .rehold{
                    & .swiper{
                        overflow: visible;

                        &-wrapper{
                            display: inline-flex;
                            gap: var(--gaps-paragraph-gap);
                        }
                    }

                    & .button-icon {
                        border: var(--border-width) solid var(--active-primary);
                        color: var(--active-neutral);
                        position: absolute;
                        left: 0;
                        top: 50%;
                        z-index: 100;
                        cursor: pointer;
                        background-color: var(--active-neutrals-black);
                        backdrop-filter: blur(12px);

                        @include devices(phone) {
                            left: -10%;
                        }

                        &.right {
                            right: 0;
                            left: unset;

                            @include devices(phone) {
                                right: -10%;
                            }
                        }
                    }
                }
            }

            &-images {
                img {
                    //border-radius: var(--border-radi-cards);
                    margin-top: var(--paddings-nav-block);
                    object-fit: cover;
                }
            }
        }
    }

    .video-holder{
        width: 100%;
        padding: 48px;
        background-color: #ddf1fb;
        border: 1px solid #0F71CF;

        &:first-of-type{
           video{
               width: 32%;
           }
        }
        &:last-of-type{
            margin-top: 32px;
        }
    }
}