.home {
    & .header {
        &-content {
            z-index: 2;

            &-hero {
                &-text {
                    gap: var(--gaps-section-parent-gap);


                    &-contain {
                        gap: var(--gaps-paragraph-gap);
                        width: 85%;

                        @include devices(phone) {
                            width: 100%;
                        }

                        &-roles {
                            gap: var(--gaps-siblings-gap);

                            @include devices(phone) {
                                width: 132%;
                                left: 0;
                                color: var(--active-neutrals-black-blur);
                            }

                            & p {
                                @include h6;

                                @include devices(phone) {
                                    word-break: keep-all;
                                    @include b1;
                                }

                            }

                            & .text-card-area-icon {
                                color: var(--active-neutrals-black);

                                @include devices(phone) {
                                    color: var(--active-primary-blur);
                                    width: 6px;
                                }
                            }
                        }
                    }

                    & .text-cards-row {
                        gap: var(--gaps-siblings-gap);

                        @include devices(phone) {
                            flex-direction: column !important;
                        }
                    }
                }
            }
        }

    }

    article {
        &.clients {
            padding: var(--paddings-padding-none);

            & .scrolling-container {
                z-index: 2;

                &:first-child {
                    position: absolute;
                    z-index: 1;
                    background-color: var(--active-neutrals-black);
                    transform: rotate(-8.5deg);
                    width: 102%;
                    left: -1%;

                    @include devices(phone) {
                        width: 106%;
                        left: -3%;
                        transform: rotate(-14.5deg);
                    }

                    & svg {
                        color: var(--active-primary);
                        fill: var(--active-primary);

                        & g {
                            & path {
                                fill: var(--active-primary);
                                stroke: var(--active-primary);
                            }
                        }
                    }
                }
            }
        }

        &.testimonials {
            & .review {
                &-testimonial {
                    gap: var(--gaps-group-parent-gap);

                    @include devices(phone) {
                        flex-direction: column !important;
                    }

                    &-person {
                        gap: var(--gaps-has-button-gap);
                        color: var(--active-primary);

                        & img {
                            border-radius: var(--border-radi-section);
                            width: 200px;
                            height: 200px;

                            @include devices(phone) {
                                width: 80px;
                                height: 80px;
                            }
                        }

                        &-details {
                            gap: var(--gaps-button-inner-gap);
                        }
                    }

                    &-review {
                        border-radius: var(--border-radi-cards);
                        border: var(--border-width) solid var(--active-secondary-blur);
                        background: var(--active-neutral);
                        padding: var(--paddings-padding-inline);
                        width: 56%;

                        @include devices(phone) {
                            width: 100%;
                        }
                    }
                }

                .swiper {
                    overflow: visible !important;

                    &-slide {
                        height: 0;

                        &-active {
                            height: auto;
                        }
                    }
                }

                & .button-icon {
                    border: var(--border-width) solid var(--active-primary);
                    color: var(--active-primary);
                    position: absolute;
                    left: 0;
                    top: 50%;
                    z-index: 100;
                    cursor: pointer;
                    background-color: var(--active-neutral-blur);
                    backdrop-filter: blur(12px);

                    @include devices(phone) {
                        left: -10%;
                    }

                    &.right {
                        right: 0;
                        left: unset;

                        @include devices(phone) {
                            right: -10%;
                        }
                    }
                }
            }
        }

        &.brief {
            & .article-title {
                &-text {
                    width: 70%;

                    @include devices(phone) {
                        width: 100%;
                    }

                    &:last-child {
                        align-self: flex-end;
                        padding-right: var(--paddings-padding-body);
                        width: 90%;

                        @include devices(phone) {
                            width: 100%;
                            align-self: flex-start;
                            padding-right: var(--paddings-padding-none);
                        }

                        & h3 {
                            text-align: left !important;
                        }
                    }
                }
            }

            & .facts-container {
                &-fact {
                    transition: 0.8s;

                    & p {
                        &:first-child {
                            width: 50%;

                            @include devices(phone) {
                                width: 100%;
                            }
                        }

                        &:last-child {
                            text-align: right;

                            @include devices(phone) {
                                text-align: left;
                            }
                        }
                    }
                }
            }
        }

        &.explorations {
            padding-inline: var(--paddings-padding-none);

            & .scrolling-container {
                background-color: unset;
                border: none;
                height: auto;

                &.full {
                    & .scrolling {
                        &-text {
                            gap: var(--gaps-paragraph-gap);

                            &-item {
                                gap: var(--gaps-paragraph-gap);

                                & img {
                                    height: 616px;
                                    width: 640px;
                                    border-radius: var(--border-radi-cards);
                                    border: var(--border-width) solid var(--active-neutrals-black-blur);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}