.work {
    & .header {
        &-content {
            &-hero {
                &-text {
                    gap: var(--gaps-paragraph-gap);

                    & .scrolling-container {
                        width: 53.5%;
                        background: var(--active-neutral);
                    }
                }
            }
        }
    }

    .caseStudies {
        &-holder {
            flex-wrap: wrap;
            padding-block: var(--paddings-padding-none);

            .link {
                width: 46%;
                color: var(--active-neutrals-black);

                .ProjectCaard {
                    padding-block: var(--paddings-padding-none);
                    gap: var(--gaps-card-gap);

                    &-image {
                        width: 100%;
                        border-radius: var(--border-radi-cards);
                        overflow: hidden;
                        height: 544px;

                        & img {
                            height: 100%;
                            transition: all 0.3s linear;
                        }
                    }

                    &-info {
                        width: 100%;

                        &-title {
                            gap: var(--gaps-button-inner-gap);

                            &-name {
                                color: var(--active-secondary);
                                transition: all 0.3s linear;
                            }
                        }

                    }
                }

                &:hover {
                    .ProjectCaard {
                        &-image {
                            & img {
                                transform: scale(1.2);
                                filter: grayscale(1);
                            }
                        }

                        &-info {

                            &-title {
                                &-name {
                                    color: var(--active-neutrals-black);
                                }
                            }

                        }
                    }
                }
            }
        }
    }
}