:root {
    --active-primary: #105B57;
    --active-secondary: #32BE83;
    --active-neutral: #F4FFFF;
    --active-placeholder: #bdbdbd;

    --active-neutrals-black: #111A19;
    --active-neutrals-white: #fefefe;

    --active-neutral-blur: #F4FFFF52;
    --active-secondary-blur: #32BE8352;
    --active-primary-blur: #105B5752;
    --active-neutrals-black-blur: #111A1952;

    --html-bg: #E1EAEA;
}