.header {
    padding: var(--paddings-padding-body) var(--paddings-page-padding) var(--paddings-padding-none);
    gap: var(--gaps-title-gap);

    &-content {
        padding-top: var(--paddings-padding-card);
        gap: var(--gaps-section-parent-gap);

        &-hero-text {
            gap: var(--gaps-has-button-gap);
        }
    }
}

section {
    gap: var(--gaps-main-gap);
    width: 100%;

    & article {
        padding-inline: var(--paddings-page-padding);
        width: 100%;
        gap: var(--gaps-group-parent-gap);

        & .article-title {
            width: 100%;

            &-text {
                width: 55%;
            }
        }

        & .facts-container {

            &-fact {
                padding-block: var(--paddings-padding-card);

                &:first-child{
                    padding-top: var(--paddings-padding-none);
                }

                &:last-child{
                    padding-bottom: var(--paddings-padding-none);
                }

                & p {
                    &:first-child {
                        width: 40%;
                    }

                    &:last-child {
                        width: 40%;
                    }

                    & a {
                        display: inline-block;
                        @include p1;
                        font: var(--font-family) !important;
                        border-bottom: var(--border-width) solid;
                        line-height: 120% !important;

                        &:hover{
                            border-bottom: none;
                            color: var(--active-secondary);
                        }
                    }
                }
            }
        }

        & .pages-divider {
            padding-inline: var(--paddings-padding-none);
        }
    }
}

#highlight {
    color: var(--active-secondary);
}

.liner {
    width: 100%;
    border-bottom: var(--border-width) solid var(--active-neutrals-black-blur);
    height: 1px;
    align-self: stretch;
}

img {
    object-fit: cover;
    object-position: center;
}

.form-group{
    gap: var(--gaps-card-gap);
    width: 72%;

    & .link-icon{
        cursor: pointer;
    }
}

.input-group{
    gap: var(--gaps-paragraph-gap);
    width: 100%;
}

input{
    border: var(--border-width) solid var(--active-primary);
    background-color: var(--active-neutral);
    padding: var(--paddings-padding-parent-small) !important;
    border-radius: var(--border-radi-section-groups);
    text-align: center;
    letter-spacing: 1px !important;
    width: 100%;

    &:focus{
        border-color: var(--active-secondary);
    }

    &.error{
        border-color: var(--error);
        color: var(--error);
    }
}

.error{
    &-text{
        color: var(--error);
        text-align: center;
    }
}