:root {
    --border-radi-cards-sm: 16px;
    --border-radi-cards: 32px;
    --border-radi-button: 48px;
    --border-radi-section-groups: 128px;
    --border-radi-section: 256px;

    --gaps-button-inner-gap: 8px;
    --gaps-siblings-gap: 16px;
    --gaps-paragraph-gap: 24px;
    --gaps-has-button-gap: 32px;
    --gaps-card-gap: 48px;
    --gaps-title-gap: 64px;
    --gaps-group-parent-gap: 88px;
    --gaps-body-section-gap: 104px;
    --gaps-section-parent-gap: 120px;
    --gaps-main-gap: 160px;

    --paddings-padding-none: 0px;
    --paddings-padding-parent-small: 16px;
    --paddings-padding-parent-box: 24px;
    --paddings-nav-block: 32px;
    --paddings-padding-card: 48px;
    --paddings-padding-inline: 72px;
    --paddings-padding-block: 104px;
    --paddings-page-padding: 80px;
    --paddings-padding-body: 200px;

    --responsiveness-container_width: 1536px;
    --responsiveness-container_height: 1117px;
}
